<!DOCTYPE html>
<html lang="en">
{% extends 'website/base.html' %}
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %} About {% endblock title %}
    {% block css %}<link rel="stylesheet" href="{% static 'css/about.css' %}"> {% endblock css %}
</head>

<body>
    {% block body %}
    <div class="container">
        <h1 class="item" id="title">Hello</h1>
        <h3 class="item" id="content">We are MarvelAddict, a group of people with a passion for
            everything Marvel — creativity makes us happy. We truly believe in the transformative power of emotion and
            story and their ability to elevate experiences, engage and inspire people everywhere. We look forward to
            hearing the thoughts and ideas of our Community!</h3>
        <img src="{% static 'images/groothappy.png' %}" alt="" class="item" id="imgg">
    </div>
    {% endblock body %}
</body>
<!-- 
    MAKE DETAILS PAGE FOR ARTICLE  
-->
</html>
